<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form>
            <input class="form-control" placeholder="filtrar" ng-model="filtro" ng-model-options="{debounce:500}">
        </form>
    </div>
</div>

<div class="row">
    <meu-painel titulo="{{foto.titulo}}" ng-repeat="foto in fotos | filter: {titulo:filtro}" class="col-md-2 painel-animado" >
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
    </meu-painel>
</div>
